# Ignore .git folder
.git*
.gitignore

.circleci*
docs*
vendor*
tests*
tests/dump*
.circleci*
docs*

.vscode*
.idea*
venv*
go*
dump*

README.md
README.md.bu
NOTES.md
LICENSE
Makefile
CHANGELOG.md
docker-compose.ci.yml
Dockerfile.dev
Pipfile
Pipefile.lock
pecheck*