toml==0.9.4
click>=6.0.0,<7.0.0
elasticsearch>=6.0.0,<7.0.0

Jinja2==2.10
Flask==1.0.2
Werkzeug==0.14.1
requests==2.19.1

cffi==1.5.0
pyasn1==0.1.9
pycparser==2.14
git+https://github.com/dlitz/pycrypto.git@v2.7a1#egg=pycrypto

git+https://github.com/erocarrera/pefile.git@v2017.11.5#egg=pefile
git+https://github.com/crackinglandia/pype32.git#egg=pype32
#git+https://github.com/pyca/cryptography.git#egg=cryptography

git+https://github.com/jdval/signify.git#egg=signify

bitstring
