cffi==1.5.0
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
https://github.com/erocarrera/pefile/files/192316/pefile-2016.3.28.tar.gz#egg=pefile
git+https://github.com/crackinglandia/pype32.git#egg=pype32
git+https://github.com/pyca/cryptography.git#egg=cryptography
